.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: #fd4;
}

/* Entrega 01 - Listado de productos, categoría autos*/

.precio{
  color:#229fbc;
  font-size: 14pt ;
}

.imagsiz{
width: 350px;
height: 220px;
border-radius: 4px;
}

.descrp{
  text-align: justify;
  width: 350px;
}

.grid{
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 60px;
  margin-left: 130px;
  grid-template-columns: auto auto auto auto;
}


#celda0{
 grid-column-start: 1;
 grid-column-end: 1;
}

#celda1{
  grid-column-start: 2;
 grid-column-end: 2;
}


#celda2{
  grid-column-start: 3;
  grid-column-end: 3;
}

#celda3{
  grid-row-start: 2;
  grid-column-start: 1;
 grid-column-end: 1;
}

/* Entrega 01 - Log In*/

#logimg{
width: 50%;
height: 50%;  
}

#logbttn{
  font-size: 15pt;
  padding: 6px 80px;
  color: white;
  background-color: #229fbc;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

.background-image {
  background-image: url("https://raw.githubusercontent.com/maitegarat/e-commerce/main/img/login_back.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.textarea {
  height: 40px;
  width: 380px;
}

#checkbox1 {
margin-left: -225px;
}
#checkbox2 {
  margin-left: -277px;
  }

.invalid {
 background-color: #cc86b0;
  color: white;
}


.dropdown-menu {
 padding-left: 10px;
 padding-right: 10px;
}

.container1 {
  padding-top: 40px;
}

#order {
  padding-left: 190px;
}

#filter {
  margin-left: 160px;
  width: fit-content;
}

#search {
 margin-left: 520px;
 width: 400px;
}

.star-rating{
  float: left;
}

.star-rating > input{
  display: none;

}

.star-rating label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #fd4;
}


/*Prueba css*/



.centrado {
  margin: auto;
  margin-left: 350px;
  margin-right: 350px;
}

.infocentrado{
  position: relative;
  text-align: center;
  left: 400px;
  right: 350px;
  width: 700px;
}

.centrado .newcomentario {
  margin: auto;
  margin-left: 400px;
  margin-right: 400px;
}

.comments {
  margin-top: 100px;
  display: block;
}

/*.comments {
  position:relative;
  margin: auto;
  width:50%;
  padding: 10px;
  border: solid #b7b4b4 1px;
}*/

.carousel{
  position: relative;
  margin: auto;
}
.carousel-indicators{
  position: relative;
  margin: auto;
  margin-right: 100px;
  height:105px;
  width: 100%; 
}
.carousel-indicators li{
  text-indent:0;
  display:inherit;
  float:left;
  width: 20%;
  height: 100px;
  margin:5px 0px;
}
.carousel-indicators li img{
  width: 40%;
  height: 100px;
  padding: 2px;
}
.carousel-indicators .active img{
  border:2px solid #229fbc;
}
.carousel-indicators .active{
  margin:5px 0px;
  width: 20%;
  height: 100px;
}
.carousel-control-next.right,
.carousel-control-prev.left{
  background-image: none;
}
